<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/indexCSS %>
  </head>
  <body class="container">

    <header>
      <% include ../partials/topmenu %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="center">AutoBlender</h1>
        <p class="center">Welcome to pyBlender using Node.JS to provide a web-app experience!</p>
        <div class="center" id="loadFileArea" style="text-align:center">
          <form name="uploadForm" id="uploadForm" action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileInput" id="fileInput" accept=".mp3" style="visibility:hidden; width:0.1px;"/>
            <input type="text" name="socketID" id="socketID" style="visibility:hidden; width:0.1px"/>
            <label for="fileInput" style="margin-right:10px;">Choose a file</label>
            <div class="button" id="uploadButton" style="visibility:hidden">
              Upload Song!
            <div>
          </form>
        </div>
        <div id="fileUploadProgress" style="visibility:hidden;">
          <hr>

        </div>
        <div id="fileProcessingProgress" class="matrix" style="visibility:hidden;">
          <hr>

        </div>
        <div id="downloadFileArea" style="visibility:hidden;">
          <hr>

        </div>
      </div>
    </main>

    <% include ../partials/indexJS %>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
