<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
    <% include ../partials/indexCSS %>
  </head>
  <body class="container">

    <header>
      <% include ../partials/topmenu %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="center">AutoBlender</h1>
        <p class="center">Welcome to pyBlender using Node.JS to provide a web-app experience!</p>
        <div class="center section" id="loadFileArea">
          <form name="uploadForm" id="uploadForm" action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileInput" id="fileInput" accept=".mp3" style="visibility:hidden; width:0.1px;"/>
            <input type="text" name="socketID" id="socketID" style="visibility:hidden; width:0.1px"/>
          </form>
        </div>
        <div class="center section" id="fileSelectArea">
          <div class="center children">
            <label class="center select button" for="fileInput" style="margin-right:10px;">Choose a file</label>
          </div>
          <div class="center children">
            <label class="center upload button" id="uploadButton" style="visibility:hidden;">Upload Song!</label>
          </div>
        </div>
        <div class="center section" id="fileUploadProgress" style="visibility:hidden;">
          <div class="progressContainer">
            <div class="progressBar">
            </div>
        </div>
        </div>
        <div class="center section matrix" id="fileProcessingProgress" style="visibility:hidden;">
          <hr/>

        </div>
        <div class="center section matrix" id="blenderRenderingProgress" style="visibility:hidden;">

        </div>
        <div class="center section" id="downloadFileArea" style="visibility:hidden;">

        </div>
      </div>
    </main>

    <% include ../partials/indexJS %>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
