<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body class="container">

    <header>
      <% include ../partials/topmenu %>
    </header>

    <main>
      <div class="jumbotron">
        <h1 class="center">AutoBlender</h1>
        <p class="center">Welcome to pyBlender using Node.JS to provide a web-app experience!</p>
        <div class="center" style="text-align:center">
          <input type="file" name="fileInput" id="fileInput" style="visibility:hidden"/>
          <label for="fileInput">Choose a file</label>
          <div class="button" id="uploadButton" style="visibility:hidden">
            Upload Song!
          <div>
        </div>
      </div>
    </main>

    <% include ../partials/indexJS %>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>
